---
import WarbleText from "@components/ui/WarbleText.astro";
import Bullets from "@components/ui/bullets/Bullets.astro";
import Bullet from "@components/ui/bullets/Bullet.astro";
import MoreMagnet from "@components/ui/MoreMagnet.astro";
---

<!-- Current Pastimes -->
<section id="current_pastimes">
  <h4><WarbleText>CURRENT PASTIMES</WarbleText></h4>
  <p>How I'm typically spending my time these days:</p>
  <Bullets>
    <Bullet>Wake Up<MoreMagnet>, Get Up, Get Out There! (I attempt to).</MoreMagnet></Bullet>
    <Bullet>Programming<MoreMagnet>, working on this website, an Android app, and teaching myself Embedded!</MoreMagnet></Bullet>
    <Bullet>Exercise<MoreMagnet>, mainly Climbing, and <i>trying</i> to do Resistance Training and Cardio sometimes.</MoreMagnet></Bullet>
  </Bullets>
</section>

<!-- Other Pastimes -->
<section id="other_pastimes">
  <h4><WarbleText>OTHER PASTIMES</WarbleText></h4>
  <p>Some other notable interests of mine:</p>
  <Bullets>
    <Bullet>Gaming<MoreMagnet>, right now I'm playing <i>Shin Megami Tensei: Persona</i>, and <i>The Finals</i>.</MoreMagnet></Bullet>
    <Bullet>Go<MoreMagnet>, also known as Baduk in Korea or Weiqi in China.</MoreMagnet></Bullet>
    <Bullet>Music<MoreMagnet>, listening, learning, dabbling.</MoreMagnet></Bullet>
    <Bullet>Art<MoreMagnet>, all kinds (not AI).</MoreMagnet></Bullet>
  </Bullets>
</section>
