---
import WarbleText from "@components/ui/WarbleText.astro";
import Bullets from "@components/ui/bullets/Bullets.astro";
import Bullet from "@components/ui/bullets/Bullet.astro";
import MoreMagnet from "@components/ui/MoreMagnet.astro";
---

<!-- Current Pastimes -->
<section id="current_pastimes">
  <h4><WarbleText>CURRENT PASTIMES</WarbleText></h4>
  <p>I like a lot of things, but this is typically how I'm spending my time these days:</p>
  <Bullets>
    <Bullet>Programming<MoreMagnet>, working on this website and an Android app!</MoreMagnet></Bullet>
    <Bullet>Exercise<MoreMagnet>, usually Resistance Training and have been getting back into Climbing.</MoreMagnet></Bullet>
    <Bullet>Gaming<MoreMagnet>, right now I'm playing <i>Persona 5 Royal</i> and <i>The Finals</i>.</MoreMagnet></Bullet>
  </Bullets>
</section>

<!-- Other Pastimes -->
<section id="other_pastimes">
  <h4><WarbleText>OTHER PASTIMES</WarbleText></h4>
  <p>Some other notable interests of mine:</p>
  <Bullets>
    <Bullet>Go<MoreMagnet>, also known as Baduk in Korea or Weiqi in China.</MoreMagnet></Bullet>
    <Bullet>Music<MoreMagnet>, listening, learning, dabbling.</MoreMagnet></Bullet>
    <Bullet>Art<MoreMagnet>, all kinds, but especially: programmatic, photography, hand-drawn, and pottery.</MoreMagnet></Bullet>
  </Bullets>
</section>
