---
import { formatDate, truncateTags } from "@utils";
import Entries from "@components/app/Entries.astro";
import Entry from "@components/app/Entry.astro";
import Tags from "@components/ui/tags/Tags.astro";
import type { CollectionEntry } from "astro:content";

type Post = CollectionEntry<"readBlog"> | CollectionEntry<"readNotes">;

interface Props {
  posts: Post[];
  path: "blog" | "notes";
}

const { posts, path } = Astro.props;
---

<Entries bordered>
  {
    posts.map((post) => (
      <Entry variant="post" href={`/read/${path}/${post.id}`}>
        <div class="lhs">
          <p>{post.data.title}</p>
          <div class="lg">
            <Tags tags={truncateTags(post.data.tags, 6)} />
          </div>
          <div class="md">
            <Tags tags={truncateTags(post.data.tags, 3)} />
          </div>
          <div class="sm">
            <Tags tags={truncateTags(post.data.tags, 2)} />
          </div>
        </div>
        <span>{formatDate(post.data.updated)}</span>
      </Entry>
    ))
  }
</Entries>

<style>
  .lhs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  /* Large */
  .lg {
    display: contents;
  }
  .md {
    display: none;
  }
  .sm {
    display: none;
  }

  /* Medium */
  @media (max-width: 500px) {
    .lg {
      display: none;
    }
    .md {
      display: contents;
    }
    .sm {
      display: none;
    }
  }

  /* Small */
  @media (max-width: 450px) {
    .lg {
      display: none;
    }
    .md {
      display: none;
    }
    .sm {
      display: contents;
    }
  }

  /* Extra Small */
  @media (max-width: 400px) {
    .lg {
      display: none;
    }
    .md {
      display: none;
    }
    .sm {
      display: none;
    }
  }
</style>
