html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*MY CODE*/
* {
  color: #ef5250;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #0d0d0d;
}

/*Header*/
header {
	font-family: 'Space Mono', monospace;
	background-color: #0a0a0a;
	width: 100%;
	z-index: 3;
	position: fixed;
}

header ul {
	list-style: none;
	overflow: hidden;
}

header ul li a {
	display: block;
	padding: 18px;
	text-align: center;
}

header ul li:hover {
	background-color: #0d0d0d;
	border: .25px solid #ef5250;
}

header .logo {
	width: 70px;
	height: 50px;
	padding: 7px 0 8px 0;
	float: left;
}

/*Header Menu*/
header .menu {
	clear: both;
	max-height: 0px;
	transition: max-height 0.2s ease-out;
}

header .menu-icon {
	padding: 28px 15px;
	position: relative;
	float: right;
	cursor: pointer;
}

/*Burger Middle Bar*/
header .menu-icon .nav-icon {
	background: #ff4846;
	display: block;
	height: 8px;
	width: 50px;
	float: right;
	position: relative;
	transition: background .2s ease-out;
}

/*Burger Bottom Bar*/
header .menu-icon .nav-icon:before {
	background: #ff4846;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all .2s ease-out;
	top: 15px;
}

/*Burger Top Bar*/
header .menu-icon .nav-icon:after {
	background: #ff4846;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all .2s ease-out;
	top: -15.5px;
}

header .menu-btn {
	display: none;
}

header .menu-btn:checked ~ .menu {
	max-height: 500px;
}

header .menu-btn:checked ~ .menu-icon .nav-icon {
	background: transparent;
}

/*Burger Bottom Bar*/
header .menu-btn:checked ~ .menu-icon .nav-icon:before {
	transform: rotate(-45deg);
	top: 0;
}

/*Burger Top Bar*/
header .menu-btn:checked ~ .menu-icon .nav-icon:after {
	transform: rotate(45deg);
	top: 0;
}

/*Sections*/
h2 {
  font-family: 'Space Mono', monospace;
	font-size: 25px;
}

/*Comments*/
h6 {
	font-family: 'Space Mono', monospace;
	font-size: 22px;
	color: #fff;
	opacity: 25%;
}

p {
	backround-color: #0d0d0d;
  color: #fff;
	font-size: 15px;
}

a {
	transition: all 0.25s ease 0s;
	text-decoration: none;
	font-size: 18px;
}

a:hover {
  color: #fff;
}

/*Landing page content starts here*/
.landing {
	position: absolute;
	top: 0; /*Mess around with this to vertically center at end*/
	left: 0;
	right: 0;
	bottom: 40vh;
	margin: auto;
	width: 75%;
	height: 0; /*This seems to work*/
}

/*Landing page title*/
.landing h1 {
	background-color: rgba(9, 9, 9, 0.75);
	padding: 8px 10px 5px 10px;
	text-align: center;
	font-family: 'Space Mono', monospace;
	font-size: 20px;
	font-weight: bold;
}

/*Landing page text*/
.landing p {
	background-color: rgba(9, 9, 9, 0.75);
	padding: 0px 10px 12px 10px;
	text-align: justify;
	font-size: 15px;
}

.portrait {
	width: 150px;
	border-radius: 50%;
	padding-bottom: 10px;
	display: block;
  margin: 0 auto;
}

/*Landing page background*/
#particles-js {
  background-color: #0d0d0d;
  height: 100vh;
}

/*Tablet and greater resolutions*/
@media (min-width: 1024px) {

	header li {
		float: left;
	}

	header ul li:hover {
		background-color: transparent;
		border: none;
	}

	header .menu {
		clear: none;
		float: right;
		max-height: none;
	}

	header .menu-icon {
		display: none;
	}

	/*Landing page content starts here*/
	.landing {
		width: 40%;
	}

	/*Landing page title*/
	.landing h1 {
		text-align: center;
		font-size: 35px;
	}

	/*Landing page text*/
	.landing p {
		text-align: center;
	}
}
