.entry {
  position: relative;
  display: block;
  padding: 0.25rem 0.5rem;
  background: var(--ink-600);
  color: var(--slate-050);
  text-decoration: none;
  transition: background-color 150ms ease;
}

/* Accent */
.entry--accent {
  padding-left: 1rem; /* Accent Space */
}

.entry--accent::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--entry-accent-width);
  background: var(--red-500);
  transition: width 100ms ease;
}

.entry--accent-primary::before {
  background: var(--red-500);
}

.entry--accent-secondary::before {
  background: var(--slate-100);
}

/* Accent Hover */
.entry--accent:hover::before {
  width: var(--entry-accent-hover);
}

/* Background Hover */
.entry--hover:hover {
  background: var(--ink-500);
  color: var(--slate-100);
}

/* Bordered */
.entry--bordered {
  border: 1px solid var(--ink-400);
}

/* Clickable */
.entry--clickable {
  cursor: pointer;
}

/* Entries */
.entries {
  display: flex;
  flex-direction: column;
}

/* Bordered Entries */
.entries--bordered {
  border: 1px solid var(--ink-400);
}

.entries--bordered .entry--bordered {
  border: none;
  border-radius: 0;
}

.entries--bordered > :is(.entry, details) + :is(.entry, details),
.entries--bordered .entries > .entry {
  border-top: 1px solid var(--ink-400);
}

/* Gapped Entries */

.entries--gap {
  gap: 1rem;
}

/* Grouped Entries */
.entry--chevron {
  padding-left: var(--entry-group-offset);
}

.entry--chevron::after {
  content: "›";
  position: absolute;
  left: calc(var(--entry-accent-width) + 1rem);
  transition: transform 100ms ease;
}

.entry--chevron::-webkit-details-marker {
  display: none; /* Safari */
}

details[open] > .entry--chevron::after {
  transform: rotate(90deg);
}

details[open] > .entry--chevron::before {
  width: calc(var(--entry-accent-width) + var(--entry-accent-growth));
}

/* Group Children */
.entries_group .entries > .entry--accent {
  padding-left: var(--entry-group-offset);
}

.entries_group .entries > .entry--accent::before {
  width: var(--entry-group-accent);
}

.entries_group .entries > .entry--accent:hover::before {
  width: var(--entry-group-accent-hover);
}