#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--ink-700);
}

main {
  flex: 1;
  overflow-y: auto;
}

main > div {
  padding: var(--content-padding) 0;
  display: block;
}

#home {
  margin: 0 var(--home-margin);
}

#exec {
  margin: 0 var(--exec-margin);
}

#read {
  margin: 0 var(--read-margin);
}