#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--ink-700);
}

main {
  flex: 1;
  overflow-y: auto;
  padding: var(--main-padding);
}

main > div {
  display: block;
}

#home {
  width: 100%;
  max-width: var(--home-max-width);
  margin-inline: auto;
}

#exec {
}

#read {
}