:root {
  /* ===================== */
  /* Neutrals / Dark Bases */
  /* ===================== */

  --ink-900: #030405;
  --ink-850: #060708;
  --ink-800: #0a0c0e;
  --ink-700: #0e1114;
  --ink-600: #14191d;
  --ink-500: #181e23;
  --ink-400: #232a32;
  --ink-300: #2d3741;
  --ink-200: #384450;

  /* ===================== */
  /* Blue-Greys / Text     */
  /* ===================== */

  --slate-500: #44515e;
  --slate-400: #4d5d6e;
  --slate-300: #62778c;
  --slate-200: #89a7bc;
  --slate-100: #aeb9c4;
  --slate-050: #bdc6cf;
  --slate-000: #e6eaef;

  /* ===================== */
  /* Accents               */
  /* ===================== */

  --red-700: #d43434; /* added by me */
  --red-600: #ee3b3b; /* added by me */
  --red-500: #ef5250; /* added by me */
  --red-400: #ef6462;
  --lavender-500: #968cea;
  --lavender-400: #afa9e5;

  /* ===================== */
  /* Black & Whites        */
  /* ===================== */

  --black: #000;
  --white: #fff;

  /* ===================== */
  /* Size Definitions      */
  /* ===================== */

  --home-max-width: 800px;
  --read-max-width: 800px;
  --exec-max-width: 1000px;

  --main-padding: 1rem;

  /* ===================== */
  /* Z-Index Layers        */
  /* ===================== */

  --z-name: 100; /* Placeholder, not in use atm, replace 'name' when use is defined */
}