---
interface Props {
  bordered?: boolean;
  gap?: boolean;
}

const { bordered = false, gap = false } = Astro.props;

const classes = ["entries", bordered && "entries--bordered", gap && "entries--gap"].filter(Boolean).join(" ");
---

<div class={classes}>
  <slot />
</div>
