---
import { getCollection, render } from "astro:content";
import { formatDateTime } from "@utils";
import BreadcrumbsLayout from "@layouts/BreadcrumbsLayout.astro";
import Entries from "@components/app/Entries.astro";
import Entry from "@components/app/Entry.astro";
import Posts from "@components/pages/partials/Posts.astro";
import MK from "@components/ui/MK.astro";

const undrafted = (entry: { data: { draft?: boolean } }) => (import.meta.env.PROD ? entry.data.draft !== true : true);

const sortBy = <T extends { data: Record<string, any> }>(entries: T[], date: "updated" | "created") =>
  [...entries].sort((a, b) => b.data[date].valueOf() - a.data[date].valueOf());

const recentBlog = sortBy((await getCollection("readBlog")).filter(undrafted), "updated").slice(0, 3);
const recentNotes = sortBy((await getCollection("readNotes")).filter(undrafted), "updated").slice(0, 3);
const recentThoughts = sortBy((await getCollection("readThoughts")).filter(undrafted), "created").slice(0, 3);
---

<div id="read">
  <BreadcrumbsLayout>
    <div>
      <p>Read some thoughts I've turned into writing. Quick access to my three most recently updated for each category.</p>
      <!-- Blog -->
      <section id="blog">
        <h1>Blog</h1>
        <p>Posts about anything really. <a href="/read/blog">All posts ⟶</a></p>
        <Posts posts={recentBlog} path="blog" />
      </section>
      <!-- Notes -->
      <section id="notes">
        <h1>Notes</h1>
        <p>Notes on different topics. <a href="/read/notes">All notes ⟶</a></p>
        <Posts posts={recentNotes} path="notes" />
      </section>
      <!-- Thoughts -->
      <section id="thoughts">
        <h1>Thoughts</h1>
        <p>
          My <MK href="https://blog.mikail-khan.com/updates">friend</MK> said the problem with Twitter is that it has other people on it, and I agree.
          <a href="/read/thoughts">All thoughts ⟶</a>
        </p>
        <Entries gap>
          {
            recentThoughts.map(async (thought) => {
              const { Content } = await render(thought);
              return (
                <Entry variant="thought">
                  <div class="markdown">
                    <Content />
                  </div>
                  <span>{formatDateTime(thought.data.created, thought.data.tz)}</span>
                </Entry>
              );
            })
          }
        </Entries>
      </section>
    </div>
  </BreadcrumbsLayout>
</div>

<style>
  #read > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #blog,
  #notes,
  #thoughts {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
</style>
