---
const labels: Record<string, string> = {
  "/": "emaan rana",
  "/exec": "doing",
  "/read": "thinking",
};

// TODO: Need to fix this later so that PNF happens only when it should actually
const label = labels[Astro.url.pathname] ?? "page not found";
---

<header>
  <nav>
    <a href="/exec">exec</a>
    <a href="/">
      <img src="/assets/ER.png" />
    </a>
    <a href="/read">read</a>
  </nav>
  <span>{label}</span>
</header>

<style>
  header {
    border-bottom: 1px solid var(--ink-400);
  }

  header span {
    display: block;
    text-align: center;
    padding: 0.25rem 0;
    font-size: 15px;
    color: var(--slate-500);
  }

  nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding-top: 1rem;
  }

  nav a {
    font-size: 1rem;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  nav img {
    display: block;
    width: 87px;
    height: auto;
    image-rendering: pixelated;
  }
</style>
