<li class="bullet">
  <span class="bullet-style">✱ </span><slot />
</li>

<style>
  .bullet {
    font-size: inherit;
    list-style: none;
  }

  .bullet-style {
    color: var(--red-500);
  }
</style>
