---
import "@styles/variables.css";
import "@styles/reset.css";
import "@styles/layout.css";
import "@styles/style.css";
import { ClientRouter } from "astro:transitions";
import Header from "@components/app/Header.astro";
import Footer from "@components/app/Footer.astro";

interface Props {
  subheader?: string;
}

const { subheader } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
    <title>Emaan Rana</title>
    <ClientRouter />
  </head>
  <body transition:animate="none">
    <Header subheader={subheader} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
