---
import { render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import BreadcrumbsLayout from "./BreadcrumbsLayout.astro";
import Metadata from "@components/ui/Metadata.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"readBlog"> | CollectionEntry<"readNotes"> | CollectionEntry<"execProjects">;
}

const { post } = Astro.props;
const { Content, headings } = await render(post);

const currentCrumb = post.data.title ?? post.data.name;
---

<Layout>
  <article id="post">
    <BreadcrumbsLayout currentCrumb={currentCrumb}>
      <div class="markdown">
        <Metadata updated={post.data.updated} created={post.data.created} tags={post.data.tags} />
        <Content />
      </div>
    </BreadcrumbsLayout>
  </article>
</Layout>
