---
import { groupByYear } from "@utils";
import Posts from "@components/pages/partials/Posts.astro";
import type { CollectionEntry } from "astro:content";

type Post = CollectionEntry<"readBlog"> | CollectionEntry<"readNotes">;

interface Props {
  posts: Post[];
  path: "blog" | "notes";
}

const { posts, path } = Astro.props;

// Filter Drafts in Production
const undrafted = (post: Post) => (import.meta.env.PROD ? post.data.draft !== true : true);

const grouped = groupByYear(
  posts.filter(undrafted),
  (post) => post.data.updated,
  (post) => post.data.tz,
);

const years = Object.keys(grouped)
  .map(Number)
  .sort((a, b) => b - a);
---

{
  years.map((year) => (
    <section class="year">
      <h1>{year}</h1>
      <Posts posts={grouped[year]} path={path} />
    </section>
  ))
}

<style>
  .year {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 1rem;
  }
</style>
