---
import { formatDateTime, groupByYear } from "@utils";
import Entries from "@components/app/Entries.astro";
import Entry from "@components/app/Entry.astro";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

type Thought = CollectionEntry<"readThoughts">;

interface Props {
  thoughts: Thought[];
}

const { thoughts } = Astro.props;

const grouped = groupByYear(
  thoughts,
  (t) => t.data.created,
  (t) => t.data.tz,
);

const years = Object.keys(grouped)
  .map(Number)
  .sort((a, b) => b - a);
---

{
  years.map((year) => (
    <section class="year">
      <h1>{year}</h1>
      <Entries gap>
        {grouped[year].map(async (thought) => {
          const { Content } = await render(thought);
          return (
            <Entry variant="thought">
              <Content />
              <span style="font-size: 0.8rem;">{formatDateTime(thought.data.created, thought.data.tz)}</span>
            </Entry>
          );
        })}
      </Entries>
    </section>
  ))
}

<style>
  .year {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 1rem;
  }
</style>
