#home-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75em;
}

#home-heading>h1>span {
  color: var(--clr-accent);
}

.home-subheading {
  padding: 2em 0 0.5em 0em;
  text-transform: uppercase;
}

#home-content {
  padding-top: 1em;
}

.home-bullets {
  padding: 0.25em 0 0 1em;
}

.home-bullets_sub {
  color: #7f7f7f;
  padding-left: 1em;
}

.home-bullet {
  color: var(--clr-accent);
}

#home-outro {
  border-top: 1px dotted var(--clr-accent);
  margin-top: 1em;
  padding-top: 0.75em;
}

a.muted:hover {
  color: #6f6f6f
}

.muted {
  color: #7f7f7f;
}

.more_button {
  position: relative;
  top: -1px;
  right: -5px;
  /* background-color: rgba(239, 82, 80, 0.7); */
  background: linear-gradient(to right, rgba(239, 82, 80, 0.8) 52%, rgba(255, 255, 255, 0.8) 48%);
  outline: 1px solid var(--clr-accent);
  border-radius: 2px;
  font-size: 10px;
  padding: 0 0.25em;
  margin: 0 0.25em;
  font-weight: 800;
}

.more_button:hover {
  background-color: rgba(231, 27, 36, 0.7);
  outline: 2px solid #e71b24;
}

.home-timeline-item {
  display: flex;
  position: relative;
}

.home-timeline-item_segment::after {
  content: '';
  position: absolute;
  left: 1.5em;
  width: 2px;
  height: calc(100% - 17px);
  background-color: var(--clr-font);
  transition: background-color 0.2s ease-in-out;
}

.home-timeline-item_segment.open::after {
  background-color: var(--clr-accent);
}

.home-timeline-item_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  margin: 1em 0.5em 0 1em;
  height: 18px;
  border-radius: 50%;
  border: 2px solid var(--clr-font);
  transition: border 0.3s ease-in-out;
}

.home-timeline-item_btn:hover {
  border: 2px solid var(--clr-accent);

  button>span {
    width: 16px;
    height: 16px;
    background-color: var(--clr-accent);
  }
}

.home-timeline-item_btn:hover::after {
  border: 2px solid var(--clr-font);
  transition: border-color 0.1s ease-in-out;

  button>span {
    width: 8px;
    height: 8px;
    background-color: var(--clr-font);
  }
}

.home-timeline-item_btn>button>span {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--clr-font);
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.home-timeline-item_btn.open {
  border-color: var(--clr-accent);
  pointer-events: none;
  cursor: default
}

.home-timeline-item_btn.open>button>span {
  width: 16px;
  height: 16px;
  background-color: var(--clr-accent);
}

.home-timeline-item_content {
  display: absolute;
  padding-top: 1em;
}

.home-timeline-item_content_description {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}