:root {
  /* --clr-light-000: #;
  --clr-light-050: #;
  --clr-light-100: #;
  --clr-light-150: #;

  --clr-dark-000: #;
  --clr-dark-050: #;
  --clr-dark-100: #;
  --clr-dark-150: #; */

  --clr-accent: #ef5250;
  --clr-header: light-dark(var(--clr-light-), var(--clr-dark-));
  --clr-header-accent: light-dark(var(--clr-light-), var(--clr-dark-));
  --clr-header-text: light-dark(var(--clr-light-), var(--clr-dark-));
  --clr-main: light-dark(var(--clr-light-), var(--clr-dark-));
  --clr-bg: light-dark(var(--clr-light-), var(--clr-dark-));
  --clr-bg-grid: light-dark(var(--clr-light-), var(--clr-dark-));

  --height-header: 60px;
  --height-footer: 30px;
  --height-main: calc(100vh - var(--height-header) - var(--height-footer));
  --width-main: 900px;
  /* Eventually use a clamp or something*/
}