---
interface Props {
  heading: string;
  subheading: string;
  start: string;
  end: string;
}

const { heading, subheading, start, end } = Astro.props;
---

<div class="timeline_item">
  <h5 class="timeline_item-heading">{heading}</h5>
  <div class="timeline_item-content" hidden>
    <p class="muted">{subheading}<strong> | </strong>{start} → {end}</p>
    <slot />
  </div>
</div>

<style>
  .timeline_item {
    display: absolute;
    padding-top: 1em;
  }

  .timeline_item-content {
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }

  .timeline_item-content[hidden] {
    display: none;
  }
</style>
